@import '../../utils/colors.css';
.profile .delete-avatar {
  background: url(../../assets/ban-solid.svg) no-repeat;
  height: 10px;
  width: 10px;
  border: none;
  margin: 0 10px;
}
.profile .profile-input {
  opacity: 0;
  height: 10px;
  width: 10px;
}
.profile .profile-input-img {
  background: url(../../assets/pen-solid.svg) no-repeat;
  height: 10px;
  width: 10px;
  margin: 0 10px;
}
