.file {
  margin: 10px 0;
  border-bottom: solid 2px #566885;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
}
.file:hover {
  transform: scale(1.02);
}
.file__img {
  justify-self: center;
  margin: 5px;
  height: 40px;
}
.file__name {
  max-width: 50px;
  font-size: 12px;
}
.file__date {
  font-size: 12px;
  grid-column-start: 4;
  grid-column-end: 6;
  justify-self: center;
  margin: 0 5px;
  white-space: nowrap;
}
.file__size {
  grid-column-start: 6;
  justify-self: center;
  font-size: 12px;
}
.file__btn {
  display: none;
}
.file:hover .file__date {
  display: none;
}
.file:hover .file__size {
  display: none;
}
.file:hover .file__download {
  background: url('../../../../assets/download.svg') no-repeat center;
  grid-column-start: 4;
  grid-column-end: 6;
  justify-self: center;
  display: block;
  height: 30px;
  width: 30px;
  border: none;
}
.file:hover .file__delete {
  background: url('../../../../assets/delete.svg') no-repeat center;
  grid-column-start: 6;
  display: block;
  justify-self: center;
  height: 20px;
  width: 20px;
  border: none;
}
.file-plate {
  width: 150px;
  height: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.file-plate__img {
  height: 100px;
  width: 100px;
}
.file-plate__btns {
  display: none;
}
.file-plate:hover .file-plate__btns {
  display: flex;
}
